//#navbar {
//
//}

.navbar-brand {
  top: 10px;
  left: 10px;
}

.navbar-toggler {
  top: 10px;
  right: 10px;
  background: svg-uri("") no-repeat 50% / contain;

  &.collapsed {
    background: svg-uri("") no-repeat 50% / contain;
  }
}

#main-menu {
  .nav-item {
    &.active {
      .nav-link {
        //color: $secondary;
      }
    }
  }

  .nav-link {
    &:hover {
      //color: $secondary;
    }
  }
}
